* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f6fa;
}

.events {
  width: 100%;
  display: inline;
  margin: 0 auto;
}

.event {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 10px 0;
  background-color: #dcdde1;
}

.event h3 {
  background-color: #c23616;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
}

.event img {
  width: 15%;
  height: auto;
  float: right;
}

#content {
  width: 80%;
  margin: 0 auto;
}
